{% extends 'bvtc_app/base.html' %}
{% load static %}

{% block title %}Add Item{% endblock %}

{% block nav %}
<h1 class="bold">Orders</h1>
<i class="material-symbols-outlined" style="font-size: 21px;">chevron_forward</i>
<h1 class="bold">Add New Order</h1>
<i class="material-symbols-outlined" style="font-size: 21px;">chevron_forward</i>
<h1 class="bold">Add Item</h1>
{% endblock %}

{% block orders_button %}
<button type="submit" style="background: #E9E6E3;">
    <i class="material-symbols-rounded" style="font-size: 24px;">assignment</i>
    <p class="button-text small-b">Orders</p>
</button>
{% endblock %}

{% block main %}
<div class="action-bar">
    <div class="horizontal-section">
        <h1>Add Item to Order</h1>
        <div class="horizontal-section" style="flex: 0;">
            <div class="vertical-section" style="flex: 0; gap: 3px;">
                <p class="small-r" style="white-space: nowrap;">Initial Items (0 Items): <b>₱ 0.00</b></p>
                <p class="smaller-r" style="color: #898989;" style="white-space: nowrap;">Discounted Total <i>(less 0%)</i>: <b>₱ 0.00</b></p>
            </div>
            <div class="horizontal-input-field">
                <a href="{% url 'add_order' %}" class="button-secondary small-m">Cancel</a>
                <button class="button-primary small-m">Done</button>
            </div>
        </div>
    </div>
</div>

<div class="action-bar">
    <div class="horizontal-section">
        <form action="" class="filter" style="flex-wrap: wrap;">
            <p class="small-r filter-name" style="padding: 6px 15px 6px 0px;">Filter:</p>
            <input class="filter-input" type="radio" name="filter" value="all" id="all" checked>
            <label class="filter-label small-b" for="all">All</label>

            <input class="filter-input" type="radio" name="filter" value="company-profile" id="company-profile">
            <label class="filter-label small-b" for="company-profile">Company Profile</label>

            <input class="filter-input" type="radio" name="filter" value="individual-items" id="individual-items">
            <label class="filter-label small-b" for="individual-items">Individual Items</label>

            <input class="filter-input" type="radio" name="filter" value="gift-set" id="gift-set">
            <label class="filter-label small-b" for="gift-set">Gift Set</label>

            <input class="filter-input" type="radio" name="filter" value="bag" id="bag">
            <label class="filter-label small-b" for="bag">Bag</label>
        </form>

        <div class="actions">
            <form action="" class="search-area">
                <input type="search" class="search-bar" placeholder="Search">
            </form>
        </div>
    </div>
</div>

<div class="catalog">
    {% for p in products %}
        <div class="product-card open-modal" data-modal="product-modal-{{ p.product_id }}">
            <div class="thumbnail">
                {% with p.productimage_set.first as img %}
                    {% if img %}
                        <img src="{{ img.product_image.url }}" alt="{{ p.product_name }}" class="thumbnail">
                    {% else %}
                        <img src="" alt="No Image" class="thumbnail">
                    {% endif %}
                {% endwith %}
            </div>
            <div class="product-details">
                <span class="product-id smaller-r">{{ p.product_code }}</span>
                <h2 class="bold">{{ p.product_name }}</h2>
                <p class="smaller-b">Starts at ₱ {{ p.starting_price }}</p>
            </div>

            <div class="modal-container" id="product-modal-{{ p.product_id }}">
                <div class="modal product-view">
                    <div class="horizontal-section">
                        <div class="vertical-section">
                            <div class="slideshow-container" id="slideshow-{{ p.product_id }}">
                                {% for img in p.productimage_set.all %}
                                <div class="mySlides fade">
                                    <img class="img-container" src="{{ img.product_image.url }}" alt="{{ p.product_name }}">
                                </div>
                                {% empty %}
                                    <p class="small-r">No images</p>
                                {% endfor %}
                                <a class="prev" onclick="plusSlides(-1, '{{ p.product_id }}')">&#10094;</a>
                                <a class="next" onclick="plusSlides(1, '{{ p.product_id }}')">&#10095;</a>
                            </div>
                            <div style="text-align:center">
                                {% for _ in p.productimage_set.all %}
                                <span class="dot" onclick="currentSlide('{{ forloop.counter }}', '{{ p.product_id }}')"></span>
                                {% endfor %}
                            </div>
                        </div>
                        
                        <div class="vertical-section">
                            <p class="product-id smaller-r">{{ p.product_code }}</p>
                            <h1>{{ p.product_name }}</h1>
                            <p class="small-r">Category: <b>{{ p.category }}</b></p>
                            <p class="small-r">MOQ: <b>{{ p.MOQ }} pcs.</b></p>
                            <p class="small-r">Starting Price: <b>₱ {{ p.starting_price }}</b></p>

                            <div class="divider"><p>Product Description</p><hr></div>
                            <div class="product-highlight" style="align-self: stretch;">
                                <p class="small-r">{{ p.description }}</p>
                            </div>

                            <div class="divider">
                                <p>Customization</p>
                                <hr>
                            </div>
                            <div class="horizontal-input-field">
                                <label for="color">Color</label>
                                <select name="color" id="color" class="input">
                                    {% for color in p.productcolor_set.all %}
                                        <option value="{{ color.product_color }}">{{ color.product_color }}</option>
                                    {% endfor %}
                                </select>
                            </div>                        

                            <div class="horizontal-input-field radio-choices">
                                <div class="horizontal-input-field" style="white-space: nowrap; flex: 0;">
                                    <input type="radio" name="customization" id="embroider" checked>
                                    <label for="embroider">Embroider</label>
                                </div>

                                <div class="horizontal-input-field" style="white-space: nowrap; flex: 0;">
                                    <input type="radio" name="customization" id="engrave">
                                    <label for="engrave">Engrave</label>
                                </div>
                                
                                <div class="horizontal-input-field" style="white-space: nowrap; flex: 0;">
                                    <input type="radio" name="customization" id="print">
                                    <label for="print">Print</label> 
                                </div>

                                <div class="horizontal-input-field" style="white-space: nowrap; flex: 0;">
                                    <input type="radio" name="customization" id="stamp">
                                    <label for="stamp">Stamp</label> 
                                </div>
                                
                                <div class="horizontal-input-field" style="white-space: nowrap; flex: 0;">
                                    <input type="radio" name="customization" id="sticker">
                                    <label for="sticker">Sticker</label> 
                                </div>

                                <div class="horizontal-input-field" style="white-space: nowrap; flex: 0;">
                                    <input type="radio" name="customization" id="none">
                                    <label for="none">N/A</label> 
                                </div>        
                            </div>

                            <div class="vertical-input-field">
                                <label for="note">Note:</label>
                                <input type="text" id="note" name="note" class="input">
                            </div>
                            <div class="horizontal-input-field" style="align-self: flex-start; flex: 0;">
                                <label for="quantity">Quantity:</label>
                                <input type="number" id="quantity" name="quantity" min="1" placeholder="1" class="input">
                            </div>

                            <div class="divider">
                                <hr>
                            </div>
                            <div class="buttons-section">
                                <button type="button" class="close-modal button-secondary small-m">Close</button>
                                <a href="" class="button-primary small-m">Add Item</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}