{% extends 'bvtc_app/base.html' %}
{% load static %}

{% block title %}Add Item{% endblock %}

{% block nav %}
<h1 class="bold">Orders</h1>
<i class="material-symbols-outlined" style="font-size: 21px;">chevron_forward</i>
<h1 class="bold">Add New Order</h1>
<i class="material-symbols-outlined" style="font-size: 21px;">chevron_forward</i>
<h1 class="bold">Add Item</h1>
{% endblock %}

{% block orders_button %}
<button type="submit" style="background: #E9E6E3;">
    <i class="material-symbols-rounded" style="font-size: 24px;">assignment</i>
    <p class="button-text small-b">Orders</p>
</button>
{% endblock %}

{% block main %}
<div class="action-bar">
    <div class="horizontal-section" style="display: flex; align-items: center; flex: 1 0 0;">
        <h1 style="flex: 1;">Add Item to Order</h1>
        <div class="horizontal-section" style="flex: 1 0 0;">
            <div class="vertical-section" style="gap: 3px; justify-content: right; align-items: flex-end;">
                <!-- Added ID: initial-items-label -->
                <p class="small-r" id="initial-items-label" style="white-space: nowrap;">
                    Initial Items (0 Items): <b>₱ 0.00</b>
                </p>
                <!-- Added ID: discounted-total-label -->
                <p class="smaller-r" id="discounted-total-label" style="color: #898989; white-space: nowrap;">
                    Discounted Total <i>(less 0%)</i>: <b>₱ 0.00</b>
                </p>
            </div>
            <div class="horizontal-input-field" style="width: max-content; max-width: max-content;">
                <a href="{% url 'add_order' %}" class="button-secondary small-m">Cancel</a>
                <a href="{% url 'add_order' %}" class="button-primary small-m">Done</a>
            </div>
        </div>
    </div>
</div>


<div class="action-bar">
    <div class="horizontal-section">
        <form action="" class="filter" style="flex-wrap: wrap;">
            <p class="small-r filter-name" style="padding: 6px 15px 6px 0px;">Filter:</p>
            <input class="filter-input" type="radio" name="filter" value="all" id="all" checked>
            <label class="filter-label small-b" for="all">All</label>

            <input class="filter-input" type="radio" name="filter" value="company-profile" id="company-profile">
            <label class="filter-label small-b" for="company-profile">Company Profile</label>

            <input class="filter-input" type="radio" name="filter" value="individual-items" id="individual-items">
            <label class="filter-label small-b" for="individual-items">Individual Items</label>

            <input class="filter-input" type="radio" name="filter" value="gift-set" id="gift-set">
            <label class="filter-label small-b" for="gift-set">Gift Set</label>

            <input class="filter-input" type="radio" name="filter" value="bag" id="bag">
            <label class="filter-label small-b" for="bag">Bag</label>
        </form>

        <div class="actions">
            <form action="" class="search-area">
                <input type="search" class="search-bar" placeholder="Search">
            </form>
        </div>
    </div>
</div>

<div class="catalog">
    {% for p in products %}
            <div class="product-card open-view-item-modal"
                data-db_id="{{ p.product_id }}"
                data-images="{% for img in p.productimage_set.all %}{{ img.product_image.url }}{% if not forloop.last %},{% endif %}{% endfor %}"
                data-colors="{% for c in p.productcolor_set.all %}{{ c.product_color }}{% if not forloop.last %},{% endif %}{% endfor %}"
                data-product_code="{{ p.product_code }}"
                data-product_name="{{ p.product_name }}"
                data-category="{{ p.category }}"
                data-moq="{{ p.MOQ }}"
                data-starting_price="{{ p.starting_price }}"
                data-product_description="{{ p.description }}">
                <div class="thumbnail">
                {% with p.productimage_set.first as img %}
                    {% if img %}
                        <img src="{{ img.product_image.url }}" alt="{{ p.product_name }}" class="thumbnail">
                    {% else %}
                        <img src="" alt="No Image" class="thumbnail">
                    {% endif %}
                {% endwith %}
            </div>
            <div class="product-details">
                <span class="product-id smaller-r">{{ p.product_code }}</span>
                <h2 class="bold">{{ p.product_name }}</h2>
                <p class="smaller-b">Starts at ₱ {{ p.starting_price }}</p>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block modals %}
<div class="modal-container" id="viewItemModal">        
    <div class="modal product-view">
        <form action="">
            <div class="horizontal-section">
                <div class="vertical-section">
                    <!-- ID updated to match 'view' context -->
                    <div class="slideshow-container" id="slideshow-view">
                        <!-- JS handles injection of slides -->
                        <a class="prev" onclick="plusSlides(-1, 'view')">❮</a>
                        <a class="next" onclick="plusSlides(1, 'view')">❯</a>
                    </div>
                    <div class="dot-container" style="text-align: center">
                        <!-- JS handles injection of dots -->
                    </div>
                </div>
                
                <div class="vertical-section">
                    <div class="horizontal-input-field" style="flex: 0; justify-content: space-between; align-items: center;">
                        <p class="product-id smaller-r" id="view_item_code"></p>
                        <i class="material-symbols-outlined close-modal close-btn" style="font-size: 21px;">close</i>
                    </div>
    
                    <h1 id="view_item_name"></h1>
                    <p class="small-r">Category: <b id="view_category"></b></p>
                    <p class="small-r">MOQ: <b id="view_moq"></b> <b>pcs.</b></p>
    
                    <div class="divider"><p>Color Variations</p><hr></div>
                    <div class="color-container" style="height: max-content; max-height: max-content;">
                        <!-- JS handles injection of colors -->
                    </div>
                    
                    <div class="divider"><p>Customizations</p><hr></div>
                    <div class="horizontal-input-field radio-choices" style="flex-wrap: wrap; gap: 8px;">
                        <input class="filter-input" type="radio" name="customization" id="embroider" value="Embroider" checked>
                        <label class="color-filter-label small-b" for="embroider">Embroider</label>
    
                        <input class="filter-input" type="radio" name="customization" id="engrave" value="Engrave">
                        <label class="color-filter-label small-b" for="engrave">Engrave</label>
    
                        <input class="filter-input" type="radio" name="customization" id="print" value="Print">
                        <label class="color-filter-label small-b" for="print">Print</label>
    
                        <input class="filter-input" type="radio" name="customization" id="stamp" value="Stamp">
                        <label class="color-filter-label small-b" for="stamp">Stamp</label>
    
                        <input class="filter-input" type="radio" name="customization" id="sticker" value="Sticker">
                        <label class="color-filter-label small-b" for="sticker">Sticker</label>

                        <input class="filter-input" type="radio" name="customization" id="none" value="N/A">
                        <label class="color-filter-label small-b" for="none">None</label>
                    </div>
    
                    <div class="vertical-input-field">
                        <label for="note">Note:</label>
                        <textarea type="text" class="input" name="note" id="note"></textarea>
                    </div>                
    
                    <div class="divider"><p>Quantity</p><hr></div>
                    <div class="horizontal-input-field">
                        <input class="input" type="number" name="quantity" id="quantity" required>
                        <label for="quantity" style="flex: 2 0 0; color: #898989;">MOQ: <b id="view_moq_2"></b> <b>pcs.</b></label>
                    </div>
    
                    <div class="divider"><hr></div>
                    <div class="buttons-section">
                        <button type="button" onclick="saveItemToOrder()" class="m-button-primary small-m">Add to Order</button>
                        <button type="button" class="close-modal m-button-secondary small-m">Close</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

<script>
document.addEventListener('DOMContentLoaded', updateOrderSummary);
</script>