{% extends 'bvtc_app/base.html' %}
{% load static %}

{% block title %}Add Order{% endblock %}

{% block nav %}
<h1 class="bold">Orders</h1>
<i class="material-symbols-outlined" style="font-size: 21px;">chevron_forward</i>
<h1 class="bold">Add New Order</h1>
{% endblock %}

{% block orders_button %}
<button type="submit" style="background: #E9E6E3;">
    <i class="material-symbols-rounded" style="font-size: 24px;">assignment</i>
    <p class="button-text small-b">Orders</p>
</button>
{% endblock %}

{% block main %}
<div class="modal">
    <form action="">
        {% csrf_token %}
        <h1>Add New Order</h1>
        
        <div class="horizontal-section">
            <div class="vertical-section">
                <div class="divider">
                    <p>Customer Information</p>
                    <hr>
                </div>
                
                <div class="horizontal-input-field">
                    <label>Customer Information:</label>

                    <input type="radio" value="new" name="customer-info" id="new" checked>
                    <label for="new">New</label>
                    
                    <input type="radio" value="existing" name="customer-info" id="existing">
                    <label for="existing">Existing</label>
                </div>

                <div class="for-new details">
                    <button type="button" class="button-primary small-m" style="flex: 1 0 0;"><i class="material-symbols-outlined" style="font-size: 15px;">add</i>Add New Customer</button>
                </div>

                <div class="for-existing details">
                    <div class="vertical-section">
                        <div class="horizontal-input-field">
                            <label for="company-name">Company Name:</label>
                            <select class="input" name="company-name" id="company-name"></select>
                        </div>

                        <div class="horizontal-input-field">
                            <label for="customer-name">Customer Name:</label>
                            <select class="input" name="customer-name" id="customer-name"></select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="vertical-section">
                <div class="divider">
                    <p>Payment Details</p>
                    <hr>
                </div>

                <div class="horizontal-input-field">
                    <label for="payment-mode">Mode of Payment:</label>
                    <div class="horizontal-input-field radio-choices">
                        <div class="horizontal-input-field" style="white-space: nowrap; flex: 0;">
                            <input type="radio" value="metrobank" name="payment-mode" id="metrobank" checked>
                            <label for="metrobank">Metrobank Fund Transfer</label>
                        </div>

                        <div class="horizontal-input-field" style="white-space: nowrap; flex: 0;">
                            <input type="radio" value="bpi" name="payment-mode" id="bpi">
                            <label for="bpi">BPI Bank Transfer</label>
                        </div>

                        <div class="horizontal-input-field" style="white-space: nowrap; flex: 0;">
                            <input type="radio" value="gcash" name="payment-mode" id="gcash">
                            <label for="gcash">Gcash Payment</label>
                        </div>
                    </div>
                </div>

                <div class="horizontal-input-field">
                    <label for="payment-terms">Payment Terms:</label>

                    <input type="radio" value="partial" name="payment-terms" id="partial" checked>
                    <label for="partial">Partial</label>

                    <input type="radio" value="full" name="payment-terms" id="full">
                    <label for="full">Full</label>
                </div>

                <div class="horizontal-input-field">
                    <label for="budget">Budget:</label>
                    <input class="input" type="number" min="1" placeholder="1" name="budget" id="budget" required>
                </div>
            </div>
        </div>

        <div class="vertical-section">
            <div class="divider">
                <p>Order Details</p>
                <hr>
            </div>

            <table class="small-database">
                <thead>
                    <tr>
                        <th>PRODUCT NAME</th>
                        <th>COLOR</th>
                        <th>CUSTOMIZATION</th>
                        <th>QUANTITY</th>
                        <th>PRICE</th>
                        <th>ACTIONS</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="cell-buttons">
                                <button class="m-button-primary smaller-b">Edit</button>
                                <button class="m-button-tertiary smaller-b">Delete</button>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td></td>
                        <td></td>
                        <td>TOTAL:</td>
                        <td></td>
                        <td><b>Php 0.00</b></td>
                        <td></td>
                    </tr>                    
                </tbody>
            </table>

            <a href="{% url 'add_item' %}" class="button-primary small-m" style="flex: 1 0 0;"><i class="material-symbols-outlined" style="font-size: 15px;">add</i>Add Items</a>
        </div>

        <div class="horizontal-section">
            <div class="vertical-section">
                <div class="divider">
                    <p>For Customizations</p>
                    <hr>
                </div>
                
                <div class="horizontal-input-field" style="max-height: 34px;">
                    <label for="mockups">Mockup (Optional):</label>
                    <div class="file-upload" style="display: flex; flex: 1 0 0; aspect-ratio: auto;">
                        <label for="mockups">
                            <span style="color: #898989;">Upload Image/s</span>
                            <input id="mockups" name="mockups[]" type="file" accept=".png, .jpg, .jpeg" style="display: none;" multiple>
                        </label>
                    </div>
                </div>

                <div class="horizontal-input-field" style="max-height: 34px;">
                    <label for="logo-link">Link to Logo (Optional):</label>
                    <input type="text" id="logo-link" name="logo-link" class="input">
                </div>

                <div class="vertical-input-field">
                    <label for="instructions">Packing Instructions (Optional):</label>
                    <input type="text" id="instructions" name="instructions" class="input">
                </div>
            </div>

            <div class="vertical-section">
                <div class="divider">
                    <p>Production Details</p>
                    <hr>
                </div>

                <div class="horizontal-input-field">
                    <label for="production=start">Start of Production:</label>
                    <input type="date" name="production-start" id="production-start" class="input">
                </div>

                <div class="horizontal-input-field">
                    <label for="dalivery-date">Delivery Date:</label>
                    <input type="date" name="dalivery-date" id="dalivery-date" class="input">
                </div>                

                <div class="divider">
                    <p>Shipping Details</p>
                    <hr>
                </div>

                <div class="horizontal-input-field">
                    <label>Shipping Details:</label>

                    <input type="radio" value="new-shipping" name="shipping-details" id="new-shipping" checked>
                    <label for="new-shipping">New</label>
                    
                    <input type="radio" value="existing-shipping" name="shipping-details" id="existing-shipping">
                    <label for="existing-shipping">Existing</label>
                </div>

                <div class="for-new-shipping details">
                    <button type="button" class="button-primary small-m" style="flex: 1 0 0;"><i class="material-symbols-outlined" style="font-size: 15px;">add</i>Add New Set</button>
                </div>

                <div class="for-existing-shipping details">
                    <select class="input" name="shipping" id="shipping"></select>
                </div>

                <div class="horizontal-input-field">
                    <label for="courier">Courier:</label>
                    <select name="courier" id="courier" class="input"></select>
                </div>
            </div>
        </div>

        <div class="vertical-section">
            <div class="divider">
                <p>Other Details</p>
                <hr>
            </div>

            <div class="horizontal-section">
                <div class="horizontal-input-field">
                    <label for="transaction-platform">Transaction Platform:</label>

                    <div class="horizontal-input-field radio-choices">
                        <div class="horizontal-input-field" style="white-space: nowrap; flex: 0;">
                            <input type="radio" name="transaction-platform" id="email" checked>
                            <label for="email">Email</label>
                        </div>

                        <div class="horizontal-input-field" style="white-space: nowrap; flex: 0;">
                            <input type="radio" name="transaction-platform" id="messenger">
                            <label for="messenger">Messenger</label>
                        </div>

                        <div class="horizontal-input-field" style="white-space: nowrap; flex: 0;">
                            <input type="radio" name="transaction-platform" id="viber">
                            <label for="viber">Viber</label> 
                        </div>
                    </div>               
                </div>

                <div class="horizontal-input-field">
                    <label for="account-manager">Account Manager:</label>
                    
                    <div class="horizontal-input-field radio-choices">
                        <div class="horizontal-input-field" style="white-space: nowrap; flex: 0;">
                            <input type="radio" name="account-manager" id="manager-1" checked>
                            <label for="manager-1">Manager 1</label>
                        </div>

                        <div class="horizontal-input-field" style="white-space: nowrap; flex: 0;">
                            <input type="radio" name="account-manager" id="manager-2">
                            <label for="manager-2">Manager 2</label>
                        </div>
                        
                        <div class="horizontal-input-field" style="white-space: nowrap; flex: 0;">
                            <input type="radio" name="account-manager" id="top-manager">
                            <label for="top-manager">Top Manager</label> 
                        </div>                    
                    </div>             
                </div>
            </div>
        </div>

        <div class="divider">
            <hr>
        </div>

        <div class="buttons-section">
            <a href="{% url 'orders' %}" class="button-secondary small-m">Cancel</a>
            <button type="submit" class="button-primary small-m">Add Order</button>
        </div>
    </form>
</div>
{% endblock %}