{% extends 'bvtc_app/base.html' %}
{% load static %}

{% block title %}Catalog{% endblock %}

{% block nav %}
<h1 class="bold">Catalog</h1>
{% endblock %}

{% block catalog_button %}
<button type="submit" style="background: #E9E6E3;">
    <i class="material-symbols-rounded" style="font-size: 24px;">browse</i>
    <p class="button-text small-b">Catalog</p>
</button>
{% endblock %}

{% block main %}
<div class="action-bar">
    <div class="horizontal-section">
        <form action="" class="filter" style="flex-wrap: wrap;">
            <p class="small-r filter-name" style="padding: 6px 15px 6px 0px;">Filter:</p>
            <input class="filter-input" type="radio" name="filter" value="all" id="all" checked>
            <label class="filter-label small-b" for="all">All</label>

            <input class="filter-input" type="radio" name="filter" value="company-profile" id="company-profile">
            <label class="filter-label small-b" for="company-profile">Company Profile</label>

            <input class="filter-input" type="radio" name="filter" value="individual-items" id="individual-items">
            <label class="filter-label small-b" for="individual-items">Individual Items</label>

            <input class="filter-input" type="radio" name="filter" value="gift-set" id="gift-set">
            <label class="filter-label small-b" for="gift-set">Gift Set</label>

            <input class="filter-input" type="radio" name="filter" value="bag" id="bag">
            <label class="filter-label small-b" for="bag">Bag</label>
        </form>

        <div class="actions">
            <form action="" class="search-area">
                <input type="search" class="search-bar" placeholder="Search">
            </form>
            <button class="button-primary small-m" data-modal="add-product-modal"><i class="material-symbols-outlined" style="font-size: 15px;">add</i>Add Product</button>
        </div>
    </div>
</div>

<div class="catalog">
    {% for p in products %}
    <div class="product-card open-modal" data-modal="product-modal-{{ p.product_id }}">
        <div class="thumbnail">
            {% with p.productimage_set.first as img %}
                {% if img %}
                    <img src="{{ img.product_image.url }}" alt="{{ p.product_name }}" class="thumbnail">
                {% else %}
                    <img src="" alt="No Image" class="thumbnail">
                {% endif %}
            {% endwith %}
        </div>
        <div class="product-details">
            <span class="product-id smaller-r">{{ p.product_code }}</span>
            <h2 class="bold">{{ p.product_name }}</h2>
            <p class="smaller-b">Starts at ₱ {{ p.starting_price }}</p>
        </div>

        <div class="modal-container" id="product-modal-{{ p.product_id }}">
            <div class="modal product-view">
                <div class="horizontal-section">
                    <div class="vertical-section">
                        <div class="slideshow-container">
                            {% for img in p.productimage_set.all %}
                            <div class="mySlides fade">
                                <img class="img-container" src="{{ img.product_image.url }}" alt="{{ p.product_name }}">
                            </div>
                            {% endfor %}
                            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                            <a class="next" onclick="plusSlides(1)">&#10095;</a>
                        </div>

                        <!-- The dots/circles -->
                        <div style="text-align:center">
                            {% for _ in p.productimage_set.all %}
                            <span class="dot" onclick="currentSlide('{{ forloop.counter }}')"></span>
                            {% endfor %}
                        </div>
                    </div>
                    
                    <div class="vertical-section">
                        <p class="product-id smaller-r">{{ p.product_code }}</p>
                        <h1>{{ p.product_name }}</h1>
                        <p class="small-r">Category: <b>{{ p.category }}</b></p>
                        <p class="small-r">MOQ: <b>{{ p.MOQ }} pcs.</b></p>
                        <p class="small-r">Starting Price: <b>₱ {{ p.starting_price }}</b></p>

                        <div class="divider">
                            <p>Product Description</p>
                            <hr>
                        </div>
                        <div class="product-highlight" style="align-self: stretch;">
                            <p class="small-r">{{ p.description }}</p>
                        </div>
                        
                        <div class="divider">
                            <p>Color Variations</p>
                            <hr>
                        </div>
                        <div class="horizontal-input-field">
                            {% for color in p.productcolor_set.all %}
                            <div class="product-highlight">
                                <span style="background: '{{ color.product_color }}';"></span>
                                <p class="small-r">{{ color.product_color }}</p>
                            </div>
                            {% empty %}
                                <p class="small-r">No colors variations</p>
                            {% endfor %}
                        </div>

                        <div class="divider">
                            <hr>
                        </div>
                        <div class="buttons-section">
                            <a href="" class="button-tertiary small-m">Delete</a>
                            <a href="" class="button-primary small-m">Edit</a>
                            <button type="button" class="close-modal button-secondary small-m">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block modals %}
<div class="modal-container" id="add-product-modal">
    <div class="modal product-form">
        <form action="">
            {% csrf_token %}
            <h1>Add New Product</h1>
            <div class="divider">
                <p>Basic Information</p>
                <hr>
            </div>

            <div class="horizontal-section">
                <div class="vertical-section" style="flex: 1 0 0;">
                    <div class="file-upload">
                        <label>
                            <span class="file-text">Upload Image/s</span>
                            <input name="photos[]" type="file" accept=".png, .jpg, .jpeg" style="display: none;">
                        </label>
                    </div>

                    <div class="file-upload">
                        <label>
                            <span class="file-text">Upload Image/s</span>
                            <input name="photos[]" type="file" accept=".png, .jpg, .jpeg" style="display: none;">
                        </label>
                    </div>

                    <div class="file-upload">
                        <label>
                            <span class="file-text">Upload Image/s</span>
                            <input name="photos[]" type="file" accept=".png, .jpg, .jpeg" style="display: none;">
                        </label>
                    </div>
                </div>

                <div class="vertical-section" style="flex: 2 0 0;">
                    <div class="horizontal-input-field">
                        <label for="product-id">Product ID:</label>
                        <input type="text" id="product-id" name="product-id" class="input" required>
                    </div>

                    <div class="horizontal-input-field">
                        <label for="product-name">Product Name:</label>
                        <input type="text" id="product-name" name="product-name" class="input" required>
                    </div>

                    <div class="horizontal-input-field">
                        <label for="category">Category:</label>
                        <select class="input" name="category" id="category" required>
                            <option value="company-profile">Company Profile</option>
                            <option value="individual-items">Individual Items</option>
                            <option value="gift-set">Gift Set</option>
                            <option value="bag">Bag</option>
                        </select>
                    </div>
                </div>
            </div>
            
            <div class="vertical-input-field">
                <label for="product-description">Product Description:</label>
                <input type="text" class="input" name="product-description" id="product-description">
            </div>

            <div class="divider">
                <p>Sales Information</p>
                <hr>
            </div>

            <div class="horizontal-section">
                <div class="horizontal-input-field">
                    <label for="moq">MOQ:</label>
                    <input class="input" type="number" min="1" placeholder="1" name="moq" id="moq" required>
                </div>

                <div class="horizontal-input-field">
                    <label for="starting-price">Starting Price:</label>
                    <input class="input" type="number" min="1" placeholder="1" name="starting-price" id="starting-price" required>
                </div>
            </div>

            <div class="vertical-input-field">
                <label for="colors">Color Variations:</label>
                <div class="horizontal-input-field" style="flex-wrap: wrap;">
                    <input class="input" type="text" placeholder="#000000" id="colors" name="colors[]" style="min-width: 90px;">
                    <input class="input" type="text" placeholder="#000000" id="colors" name="colors[]" style="min-width: 90px;">
                    <input class="input" type="text" placeholder="#000000" id="colors" name="colors[]" style="min-width: 90px;">
                    <input class="input" type="text" placeholder="#000000" id="colors" name="colors[]" style="min-width: 90px;">
                </div>
            </div>

            <div class="divider">
                <hr>
            </div>

            <div class="buttons-section">
                <button type="button" class="close-modal button-secondary small-m">Cancel</button>
                <button type="submit" class="button-primary small-m">Add Product</button>
            </div>
        </form>
    </div>
</div>


{% endblock %}