{% extends 'bvtc_app/base.html' %}
{% load static %}

{% block title %}Quotations{% endblock %}

{% block nav %}
<h1 class="bold">Quotations</h1>
{% endblock %}

{% block quotations_button %}
<button type="submit" style="background: #E9E6E3;">
    <i class="material-symbols-rounded" style="font-size: 24px;">request_quote</i>
    <p class="button-text small-b">Quotations</p>
</button>
{% endblock %}

{% block main %}
<div class="dashboard">
    <h1>Quotation Status</h1>
    <div class="numbers">
        <div class="number-card">
            <div class="number" style="color: #0B1E33;">00</div>
            <p>Under Validation</p>
        </div>

        <div class="number-card">
            <div class="number" style="color: #013C58;">00</div>
            <p>Validated</p>
        </div>

        <div class="number-card">
            <div class="number" style="color: #00537A;">00</div>
            <p>Sent to Customer</p>
        </div>

        <div class="number-card">
            <div class="number" style="color: #00A887;">00</div>
            <p>Signed</p>
        </div>
    </div>
</div>

<div class="tracker">
    <div class="horizontal-section">
        <form action="" class="filter">
            <p class="small-r filter-name" style="padding: 6px 15px 6px 15px;">Sort by:</p>
            <input class="filter-input" type="radio" name="sort-by" value="client-name" id="client-name" checked>
            <label class="filter-label small-b" for="client-name">Client Name</label>

            <input class="filter-input" type="radio" name="sort-by" value="company-name" id="company-name">
            <label class="filter-label small-b" for="company-name">Company Name</label>

            <input class="filter-input" type="radio" name="sort-by" value="account-manager" id="account-manager">
            <label class="filter-label small-b" for="account-manager">Account Manager</label>
        </form>

        <div class="actions">
            <form action="" class="search-area">
                <input type="search" class="search-bar" placeholder="Search">
            </form>
            <a href="" type="submit" class="button-primary small-m"><i class="material-symbols-outlined" style="font-size: 15px;">add</i>Add New Quotation</a>
        </div>
    </div>

    <table class="database">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" id="select-all">
                </th>
                <th>ORDER ID</th>
                <th>CUSTOMER NAME</th>
                <th>COMPANY NAME</th>
                <th>AMOUNT</th>
                <th>DELIVERY DATE</th>
                <th>STATUS</th>
                <th>QUOTED BY</th>
                <th>ACTIONS</th>
            </tr>
        </thead>

        <tbody>
            <!-- {% for q in quotations %} -->
            <tr>
                <td>
                    <input type="checkbox" name="to-discard" value="" class="to-discard" form="discard-form">
                </td>
                <td class="small-b">{{ q.order_id }}</td>
                <td class="small-b">{{ q.customer_id.customer_name }}</td>
                <td class="small-b">{{ q.customer_id.company_id.company_name }}</td>
                <td class="small-b">{{ q.amount }}</td>
                <td class="small-r">{{ q.delivery_date }}</td>
                <td style="vertical-align: middle;">
                    {% if o.order_status == 'Under Feasibility' %}
                    <span class="status-pill" style="color: #FAF9F6; border: 2px solid #0B1E33;">
                        <i class="material-symbols-rounded" style="font-size: 8px;">circle</i>
                        <p class="smaller-r">{{ o.order_status }}</p>
                    </span>
                    {% elif o.order_status == 'Under Quotation' %}
                    <span class="status-pill" style="color: #013C58; border: 1px solid #013C58;">
                        <i class="material-symbols-rounded" style="font-size: 8px;">circle</i>
                        <p class="smaller-b">{{ o.order_status }}</p>
                    </span>                    
                    {% elif o.order_status == 'In Production' %}
                    <span class="status-pill" style="color: #00537A; border: 1px solid #00537A;">
                        <i class="material-symbols-rounded" style="font-size: 8px;">circle</i>
                        <p class="smaller-b">{{ o.order_status }}</p>
                    </span>  
                    {% elif o.order_status == 'Sampled' %}
                    <span class="status-pill" style="color: #F5A201; border: 1px solid #F5A201;">
                        <i class="material-symbols-rounded" style="font-size: 8px;">circle</i>
                        <p class="smaller-b">{{ o.order_status }}</p>
                    </span>                    
                    {% elif o.order_status == 'Packaged' %}
                    <span class="status-pill" style="color: #EDC001; border: 1px solid #EDC001;">
                        <i class="material-symbols-rounded" style="font-size: 8px;">circle</i>
                        <p class="smaller-b">{{ o.order_status }}</p>
                    </span>
                    {% elif o.order_status == 'In Transit' %}
                    <span class="status-pill" style="color: #00C27D; border: 1px solid #00C27D;">
                        <i class="material-symbols-rounded" style="font-size: 8px;">circle</i>
                        <p class="smaller-b">{{ o.order_status }}</p>
                    </span>
                    {% else %}
                    <span class="status-pill" style="color: #00C27D; border: 1px solid #000000;">
                        <i class="material-symbols-rounded" style="font-size: 8px;">circle</i>
                        <p class="smaller-b"></p>
                    </span>
                    {% endif %}
                </td>
                <td class="small-b">{{ o.user_id.user_name }}</td>
                <td>
                    <div class="cell-buttons">
                        <button type="button"
                                class="m-button-primary smaller-b open-view-order-modal"
                                data-order_id = "{{ o.order_id }}"
                                data-customer_id = "{{  o.customer_id }}"
                                data-customer_name = "{{ o.customer_id.customer_name }}"
                                data-company_name = "{{ o.customer_id.company_id.company_name }}"
                                data-company_address = "{{ o.customer_id.company_id.company_address }}"
                                data-items='[{% for oi in o.orderitem_set.all %}{"code":"{{ oi.product_id.product_code }}","color":"{{ oi.color }}","custom":"{{ oi.customization }}","qty":"{{ oi.quantity }}","price":"{{ oi.price }}"}{% if not forloop.last %},{% endif %}{% endfor %}]'
                                data-budget = "{{ o.budget }}"
                                data-order_status = "{{ o.order_status }}"
                                data-delivery_address = "{{ o.shipping_id.address_line_1 }}, {{ o.shipping_id.address_line_2 }}, {{ o.shipping_id.barangay }}, {{ o.shipping_id.address_province }} {{ o.shipping_id.address_postal_code }}"
                                data-contact = "{{ o.shipping_id.contact_person_name }}"
                                data-contact_number = "{{ o.shipping_id.contact_person_number }}"
                                data-contact_email = "{{ o.shipping_id.contact_person_email }}"
                                data-mode_of_payment = "{{ o.mode_of_payment }}"
                                data-payment_terms = "{{ o.payment_terms }}"
                                data-packing_instructions = "{{ o.packing_instructions }}"
                                data-start_of_production = "{{ o.start_of_production }}"
                                data-delivery_date = "{{ o.delivery_date }}"
                                data-lead_time = "{{ o.lead_time }}"
                                data-transaction_platform = "{{ o.transaction_platform }}"
                                data-account_manager = "{{ o.user_id.user_name }}">
                                View</button>
                        <button type="button" class="m-button-secondary smaller-b">Edit</button>
                    </div>
                </td>
            </tr>
            <!-- {% endfor %} -->
        </tbody>
    </table>
</div>
{% endblock %}