{% extends 'bvtc_app/base.html' %}
{% load humanize %}
{% load static %}

{% block title %}Quotations{% endblock %}

{% block nav %}
<h1 class="bold">Quotations</h1>
{% endblock %}

{% block quotations_button %}
<button type="submit" style="background: #E9E6E3;">
    <i class="material-symbols-rounded" style="font-size: 24px;">request_quote</i>
    <p class="button-text small-b">Quotations</p>
</button>
{% endblock %}

{% block main %}
<div class="dashboard">
    <h1>Quotation Status</h1>
    <div class="numbers">
        <div class="number-card">
            <div class="number" style="color: #101212;">00</div>
            <p>Unquoted</p>
        </div>

        <div class="number-card">
            <div class="number" style="color: #0B1E33;">00</div>
            <p>Under Validation</p>
        </div>

        <div class="number-card">
            <div class="number" style="color: #013C58;">00</div>
            <p>Validated</p>
        </div>

        <div class="number-card">
            <div class="number" style="color: #00537A;">00</div>
            <p>Sent to Customer</p>
        </div>

        <div class="number-card">
            <div class="number" style="color: #00A887;">00</div>
            <p>Signed</p>
        </div>
    </div>
</div>

<div class="tracker">
    <div class="horizontal-section">
        <!-- <form action="" class="filter">
            <p class="small-r filter-name" style="padding: 6px 15px 6px 15px;">Sort by:</p>
            <input class="filter-input" type="radio" name="sort-by" value="client-name" id="client-name" checked>
            <label class="filter-label small-b" for="client-name">Client Name</label>

            <input class="filter-input" type="radio" name="sort-by" value="company-name" id="company-name">
            <label class="filter-label small-b" for="company-name">Company Name</label>

            <input class="filter-input" type="radio" name="sort-by" value="account-manager" id="account-manager">
            <label class="filter-label small-b" for="account-manager">Account Manager</label>
        </form> -->

        <div class="actions">
            <form action="" class="search-area">
                <input type="search" class="search-bar" placeholder="Search">
            </form>
            <button type="submit" class="button-primary small-m open-add-quotation-modal"><i class="material-symbols-outlined" style="font-size: 15px;">add</i>Add New Quotation</button>
        </div>
    </div>

    <table class="database">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" id="select-all">
                </th>
                <th>ORDER ID</th>
                <th>CUSTOMER NAME</th>
                <th>COMPANY NAME</th>
                <th>AMOUNT</th>
                <th>DELIVERY DATE</th>
                <th>STATUS</th>
                <th>QUOTED BY</th>
                <th>ACTIONS</th>
            </tr>
        </thead>

        <tbody>
            {% for q in quotations %}
            <tr>
                <td>
                    <input type="checkbox" name="to-discard" value="" class="to-discard" form="discard-form">
                </td>
                <td class="small-b">{{ q.order_id }}</td>
                <td class="small-b">{{ q.customer_id.customer_name }}</td>
                <td class="small-b">{{ q.customer_id.company_id.company_name }}</td>
                <td class="small-b">{{ q.total_amount|stringformat:".2f"|intcomma }}</td>
                <td class="small-r">{{ q.delivery_date }}</td>
                <td style="vertical-align: middle;">
                    {% if q.order_status == 'Under Validation' %}
                    <span class="status-pill" style="color: #0B1E33; border: 1px solid #0B1E33;">
                        <i class="material-symbols-rounded" style="font-size: 8px;">circle</i>
                        <p class="smaller-b">{{ q.order_status }}</p>
                    </span>
                    {% elif q.order_status == 'Validated' %}
                    <span class="status-pill" style="color: #013C58; border: 1px solid #013C58;">
                        <i class="material-symbols-rounded" style="font-size: 8px;">circle</i>
                        <p class="smaller-b">{{ q.order_status }}</p>
                    </span>                    
                    {% elif q.order_status == 'Sent to Customer' %}
                    <span class="status-pill" style="color: #00537A; border: 1px solid #00537A;">
                        <i class="material-symbols-rounded" style="font-size: 8px;">circle</i>
                        <p class="smaller-b">{{ q.order_status }}</p>
                    </span>  
                    {% elif q.order_status == 'Signed' %}
                    <span class="status-pill" style="color: #00C27D; border: 1px solid #00C27D;">
                        <i class="material-symbols-rounded" style="font-size: 8px;">circle</i>
                        <p class="smaller-b">{{ q.order_status }}</p>
                    </span>
                    {% else %}
                    <span class="status-pill" style="color: #101212; border: 1px solid #101212;">
                        <i class="material-symbols-rounded" style="font-size: 8px;">circle</i>
                        <p class="smaller-b">Unquoted</p>
                    </span>
                    {% endif %}
                </td>
                <td class="small-b">{{ q.user_id.user_name }}</td>
                <td>
                    <div class="cell-buttons">
                        {% if q.order_status == "Under Quotation" %}
                        <button type="button" class="m-button-primary smaller-b">Quote</button>
                        {% else %}
                        <a href="{% url 'view_quotation' q.order_id %}" class="m-button-primary smaller-b" type="button">View</a>
                        {% endif %}
                        <button type="button" class="m-button-secondary smaller-b">Edit</button>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block modals %}
<div class="modal-container" id="addQuotationModal">
    <div class="modal quotation-form">
        <h1>Create New Quotation</h1>
        <div style="display: flex; flex-direction: row;">
            <p class="required-message"><span>*</span> Required</p>
        </div>

        <form action="" method="POST" enctype="multipart/form-data" id="addQuotationForm">
            {% csrf_token %}
            <div class="divider"><p>Order Reference</p><hr></div>
            <div class="horizontal-input-field">
                <label for="quote-order-id"><span>*</span> Order ID:</label>
                <div class="error-msg">
                    <select class="input" name="quote-order-id" id="quote-order-id" required>
                        <option value="" selected></option>
                        {% for o in orders %}
                        <option value="{{ o.order_id }}">{{ o.order_id }} - {{ o.customer_id.customer_name }}</option>
                        {% endfor %}
                    </select>
                    <span class="error-msg"></span>
                </div>
            </div>

            <div class="divider"><p>Additional Payment Details</p><hr></div>
            <div class="horizontal-input-field">
                <label for="quote-delivery-fee"><span>*</span> Delivery Fee:</label>

                <input type="radio" value="freight_term_true" name="delivery-fee" id="freight_term_true" checked>
                <label for="freight_term_true">Shouldered by the Customer</label>

                <input type="radio" value="freight_term_false" name="delivery-fee" id="freight_term_false" checked>
                <label for="freight_term_false">Shouldered by BVTC</label>
            </div>

            <div class="horizontal-input-field">
                <label for="quote-discount"><span>*</span> Additional Discount:</label>
                <div class="error-wrap">
                    <input type="number" min="0" max="100" class="input" name="quote-discount" id="quote-discount">
                    <span class="error-msg"></span>
                </div>
            </div>

            <div class="divider"><p>Quotation Details</p><hr></div>
            <div class="horizontal-input-field">
                <label for="quote-date">Date Quoted:</label>
                <div class="error-wrap">
                    <input type="date" name="quote-date" id="quote-date" class="input">
                    <span class="error-msg"></span>
                </div>
            </div>

            <div class="divider"><hr></div>
            <div class="buttons-section">
                <button type="button" class="m-button-secondary small-m">Cancel</button>
                <button type="button" class="m-button-primary small-m">Create Quotation</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}